lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

node_modules/
.idea/

pids
logs
results

npm-debug.log

aws-credentials.json
json/

jasmine-1.1.0.js
JasmineAdapter-1.1.2.js
src-cov/
coverage.html

Makefile
test/
test-lib/